<h1>Movie Showing</h1>


<h2><%= @movie.title %></h2>

<p><%= @showing.date %></p>
<p><%= @showing.time %></p>


<h3>Tickets Remaining</h3>
<p><%= @showing.capacity - @tickets_sold%> </p>


<%= form_for @transaction do |f| %>

<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :email %>
	<%= f.text_field :email %>
</p>
<p>
	<%= f.label :name %>
	<%= f.text_field :name %>
</p>
<p>
	<%= f.label :quantity %>
	<%= select_tag "credit_card", options_for_select([*1..@showing.capacity - @tickets_sold], 1)%>
</p>
<p>
	Credit Card Number <input type="text" name="credit_card_number">
</p>
<p>
	Credit Card Expiration <input min=<%= Date.today %> type="month" name="credit_card_expiration">
</p>

<p>
	<%=f.submit%>
</p>

<% end %>


