<h1><%= @movie.title %></h1>

<h4>Date: <%= @showing.date %> <%= @showing.time %></h4>

<% if @showing.capacity - @tickets_sold === 0 %>

	<div id='sold-out'>Sold Out!</div>

<% else %>

	<h3>Tickets Remaining: <%= @showing.capacity - @tickets_sold%></h3>


	
	<% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>	

	<%= form_for @transaction do |f| %>

	<p>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</p>
	<p>
		<%= f.label :first_name %>
		<%= f.text_field :first_name %>
	</p>
	<p>
		<%= f.label :last_name %>
		<%= f.text_field :last_name %>
	</p>
	<p>
		<%= f.label :quantity %>
		<%= f.select :quantity, options_for_select([*1..@showing.capacity - @tickets_sold], 1)%>
		$<%= @showing.price %>/ticket
	<p>
		Credit Card Number <input type="text" name="credit_card_number">
	</p>
	<p>
		Credit Card Expiration <input min=<%= Date.today %> type="month" name="credit_card_expiration">
	</p>
	<%= f.hidden_field :showing_id, :value => @showing.id %>
	<p>
		<%=f.submit%>
	</p>

	<% end %>
<% end %>