<h1>Movie Index Page</h1>

<nav>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 12)) %>
	</div>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 13)) %>
	</div>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 14)) %>
	</div>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 15)) %>
	</div>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 16)) %>
	</div>
	<div class='date'>
		<%= format_date(Date.new(2018, 4, 17)) %>
	</div>
</nav>

<div class='movie'>
	<% @movie_list.each do |movie| %>

		<div class='title'>
			<h2><%= movie[:movie].title %></h2>
		</div>

		<div class='showings'>
			<% movie[:showings].each do |showing| %>
				<span class=<%= format_date(showing.date) %>>
					<%= link_to showing.time, showing %>
				</span>
			<% end %>
		</div>
	<% end %>
</div>
