<h1><%= @movie.title %> Sales</h1>

<div id='headings'>
	<div class='cell'>
		Email:
	</div>
	<div class='cell'>
		Date:
	</div>
	<div class='cell'>
		Time:
	</div>
	<div class='cell'>
		Tickets Purchased:
	</div>
	<div class='cell'>
		Subtotal:
	</div>
</div>

<div id='data'>
	<% @transactions.each do |transaction| %>
	<div class='row'>
		<div class='cell'>
			<%= transaction[:trans].email %>
		</div>
		<div class='cell'>
			<%= transaction[:showing].date %>
		</div>
		<div class='cell'>
			<%= transaction[:showing].time %>
		</div>
		<div class='cell'>
			<%= transaction[:trans].quantity %>
		</div>
		<div class='cell'>
			<%= format_dollar(transaction[:trans].cost) %>
		</div>


	</div>

	<% end %>
</div>
