<!DOCTYPE html>
<html>
  <head>
    <title>MovieApp</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>  
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>
  <header>
  	<div>
  		<%= link_to 'Movie Listings', root_path%>
  	</div>
    <div>
      <%= link_to 'Sales Dashboard', transactions_dashboard_path%>
    </div>
  </header>

  <body>
    <%= yield %>
  </body>
</html>
